/* css style for create & search page */
.modal-border-customized .modal-content {
  border-radius: 20px !important;
}

/* css style for edit page */
.mixrecipe-dropdown .select__control {
  background-color: #e9ecef !important;
}

.mixrecipe-dropdown .select__single-value {
  color: #000 !important;
}

/* css style for search page */
.batch-found-header {
  margin-left: 60px;
}

.search-header {
  font-weight: 700;
  font-size: 20px;
  color: #ffad05;
}

.text-purple {
  /* color: #30298094 !important; */
  font-weight: 400 !important;
}

.outgoing-batch-table-header > thead > tr > th {
  font-weight: 700;
  font-size: 20px;
  color: #ffad05;
  width: fit-content;
}

/* css style for show page */
.show-table-first-batches > tbody > tr > th {
  width: 20%;
  color: #ff6e05 !important;
}

.show-table-first-batches > tbody > tr > td {
  width: 25%;
}

.show-table-last-batches > thead > tr > th {
  width: 33%;
  color: #ff6e05 !important;
}
