.edit-page-close-position {
  top: 10px;
  right: 20px;
}

.edit-header-my {
  margin-top: 64px;
  margin-bottom: 64px;
}

.edit-header {
  font-weight: 600;
  font-size: 24px;
  color: #302980;
}

.edit-data-container {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.edit-data-info > div > label {
  /* font-weight: 700 !important; */
  font-size: 20px !important;
  color: #ffad05 !important;
}

.px-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.btn-customized > .btn {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.edit-update-btn {
  font-weight: 700 !important;
  font-size: 18px !important;
  text-transform: uppercase;
  color: #ffffff !important;
  background-color: #ff6e05 !important;
  border: none;
  border-radius: 4px;
  width: 322px;
  height: 40px;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-update-btn:hover {
  background-color: #302980 !important;
  border: 1px solid #302980 !important;
  color: #fff !important;
  text-transform: uppercase;
  box-shadow: 0px 4px 18px #3029805e;
  transition: 0.9s ease-in-out;
  transform: scale3d(1.02, 1.02, 1.02);
}
